<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="con">
        <nav>
            <h1>University Name</h1>
            <a href="{{url_for('admin_logout')}}"> Logout</a>
        </nav>
        
        <div class="heading">
            <h2>Portal for Students and Administrators</h2>
        </div>
        <div class="container">
            
            <a href="{{url_for('student_register')}}">Register a student</a>
            <a href="{{url_for('update_pass')}}">Update Student password</a>
        </div>

    </div>
</body>
</html>