<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Acknowledgment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="con">
        <nav>
            <h1>University Name</h1>
            <a href="{{url_for('admin_logout')}}"> Logout</a>
        </nav>
        <div class="heading">
            <h2>Student Acknowledgment</h2>
        </div>
        <div class="contain">
            <img src="{{ image_url }}" alt="image">
            <h2>Registration of {{name}} is Successfully Completed</h2>
    
            <h2>Registration Number :    {{ roll }}</h2>
    
            <a href="/protected">Go to Admin Page</a>
        </div>
    </div>
    
</body>
</html>