<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="con">
        <nav>
            <h1>University Name</h1>
            <a href="{{url_for('admin_logout')}}"> Logout</a>
        </nav>
        <div class="heading">
            <h2>Update Student Password</h2>
        </div>
        <div class="container">
            <form action="/updatePassPage" method="POST">
                <input type="text" name="Roll" placeholder="Roll Number...">
                <input type="password" name="pass" placeholder="New Password...">
                <input type="password" name="new_pass" placeholder="Confirm New Password...">
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
</body>
</html>